@blue: rgba(84, 81, 230, 0.6);
@red: rgba(255, 42, 42, 0.6);

html {
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root,
#root > * {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.banner {
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
}

#root {
    background-size: cover;
}


.header-wrapper {
    h2,
    h3 {
        text-align: center;
        color: gray;
        margin-bottom: 5px;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}

.overall-mixin(@color, @offset: 0px) {
    background-color: fade(@color, 60%);
    box-shadow: @offset 0 2px fade(@color, 15%);
    &:hover {
        box-shadow: @offset 3px 2px 1px fade(@color, 30%);
    }
}

.overall {
    padding-top: 20px;
    text-align: center;
    div {
        display: inline-block;
        width: 20%;
        text-align: center;
        font-size: 4vw;
        padding: 40px 20px;
        transition: .1s ease-in-out;
        cursor: pointer;
        color: white;
    }
    .overall__average {
        width: 35%;
        font-size: 6vw;
        padding: 100px 20px;
        .overall-mixin(darken(gray, 20%));
        background: linear-gradient(90deg, @blue, @red);
    }
    .overall__min {
        .overall-mixin(@blue, -2px);
    }
    .overall__max {
        .overall-mixin(@red, 2px);
    }
    span {
        display: inline-block;
        margin-bottom: 5px;
    }
    label {
        // color: gray;
        text-align: center;
        display: block;
        font-size: 1vw;
    }
}

.list {
    height: 100%;
    overflow: auto !important;
    a {
        padding: 10px;
        text-align: center;
        display: block;
    }
    table {
        box-shadow: 1px 1px 2px rgba(0,0,0,.3);
        margin: 0 auto;
        border-collapse: collapse;
        thead {
            // border-bottom: 1px solid #cbcbcb;
        }
        tr {
            > * {
                padding: 10px 40px 10px 20px;
            }
            &:nth-child(odd) {
                td {
                    background-color: rgba(0,0,0,.15);
                }
            }
            &:hover {
                td {
                    background-color: rgba(0,0,0,.3);
                    color: #e2e2e2;
                }
            }
        }
        th,
        td {
            // border-left: 1px solid #cbcbcb;
            // border-bottom: 1px solid #cbcbcb;
            text-align: left;
            background-color: rgba(0,0,0,.1);
            transition: all .1s ease-in-out;
        }
    }
}

@media (orientation: portrait) {
    .header-wrapper {
        img {
            height: 150px;
            width: 150px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 3vh;
        }
        h3 {
            font-size: 2vh;
        }
        margin-bottom: 40px;
    }
    .overall {
        div {
            display: block;
            margin: 0 auto;
            font-size: 4vh;
            width: 70%;
            padding: 60px 0;
        }
        .overall__average {
            background: linear-gradient(180deg, @blue, @red);
            font-size: 7vh;
            width: 90%;
            padding: 100px 0;
        }
        label {
            font-size: 2vh;
        }
    }
    .list {
        a {
            font-size: 3vh;
            margin-bottom: 1vh;
        }
        table {
            width: 90%;
            font-size: 3vh;
            th,
            td {
                padding: 3vh;
            }
        }
    }

}